.lead__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 48px;
    margin: 0px;

}

@media screen and (min-width: 768px) {
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
        box-sizing: border-box;
        padding-top: 56px;
    }
}

@media screen and (min-width: 896px) {
    .lead__title {

    }
}

@media screen and (min-width: 1152px) {
    .lead__title {
    }
}

/*
.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: white;
    min-width: 720px;
    text-align: center;
    padding-top: 56px;
    margin: 0px;
    width: 720px;
}


@media screen and (max-width: 1152px) {
    .lead__title {
        min-width: 720px;
        padding-top: 48px;
    }
}


@media screen and (max-width: 896px) {
    .lead__title {
        padding-top: 48px;
        max-width: 320px;
        min-width: 320px;
        width: 288px;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
}



