.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 17px;
  }
  
  
 @media screen and (min-width: 768px) {
    .footer__copyright {
      margin: 36px 0 0 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
    }
  }
  