.intro {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .intro{
        box-sizing: border-box;
        padding-left: 24px;
        width: 768px;
    }
}

@media screen and (min-width: 928px) {
    .intro{
        box-sizing: border-box;
        padding: 0;
        width: 928px;
    }
}

@media screen and (min-width: 984px) {
    .intro{
        width: 984px;
    }
}