.lead__image-map {
    position: absolute;
    margin: auto;
    width: 305px;
    top: 29px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .lead__image-map {
        top: 70px;
        width: 731px;
    }
}

@media screen and (min-width: 928px) {
    .lead__image-map {
        top: 85px;
        width: 884px;
    }
}

@media screen and (min-width: 984px) {
    .lead__image-map {
        top: 90px;
        width: 937px;
    }
}
