.place__website {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .place__website {
        min-width: 228px;
    }
}

@media screen and (min-width: 928px) {
    .place__website {

    }
}

@media screen and (min-width: 984px) {
    .place__website {

    }
}